{% extends 'base/base.html' %}
{% block title %}Détails du personnage{% endblock %}
{% block content %}
<div class="personnage-details">
    <h1>Détails du personnage</h1>
    <h2>{{ personnage.nom }}</h2>
    <p><strong>Chronique:</strong> {{ personnage.chronique }}</p>

    <h3>Attributs</h3>
    <ul>
        <li><strong>Intelligence:</strong> {{ personnage.intelligence }}</li>
        <li><strong>Force:</strong> {{ personnage.force }}</li>
        <li><strong>Présence:</strong> {{ personnage.presence }}</li>
    </ul>

    <h3>Compétences</h3>
    <ul>
        <li><strong>Informatique:</strong> {{ personnage.informatique }}</li>
        <li><strong>Combat:</strong> {{ personnage.combat }}</li>
        <li><strong>Empathie:</strong> {{ personnage.empathie }}</li>
    </ul>

    {% if personnage.vice %}
    <h3>Caractéristiques Humaines</h3>
    <ul>
        <li><strong>Vice:</strong> {{ personnage.vice }}</li>
        <li><strong>Vertu:</strong> {{ personnage.vertu }}</li>
    </ul>
    {% elif personnage.aiguille %}
    <h3>Caractéristiques Changelin</h3>
    <ul>
        <li><strong>Aiguille:</strong> {{ personnage.aiguille }}</li>
        <li><strong>Fil:</strong> {{ personnage.fil }}</li>
    </ul>
    {% endif %}

    <a href="{% url 'creer_personnage' %}" class="button">Créer un autre personnage</a>
</div>
{% endblock %}
